body {
    background-color: #564064;
    height: 100%;
    margin: 0%;
    display:flex; 
    flex-direction:column; 
}

footer {
    background-color: #eea160;
    margin-top: auto;
}

table, th, td {
    /*border: 1px solid black;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

a:link, a:visited {
    color: #ffffff;
	text-decoration: none;
    text-shadow: 2px 2px 2px #564064;
}
a:hover {
    color: #8e478c;
	text-decoration: none;
}
a:active {
    color: #39314b;
	text-decoration: none;
}

@keyframes logoAnimation {
    from {
        width: 200px;
        transform: rotate(359deg);
    }
    to {
        width: 90%;
        transform: rotate(0deg);
    }
}

@keyframes picturesAnimation {
    from {
        width: 200px;
        opacity: 0%;
    }
    to {
        width: 400px;
        opacity: 100%;
    }
}

@keyframes continuousAnimation {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(3deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-3deg);}
    100% {transform: rotate(0deg);}
}

.mineralMadnessLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    animation: logoAnimation 2s ease-out;
    
}

.logoContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    animation: continuousAnimation 2s linear 1.99s infinite;
}

.pictures1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #39314b;
    border-radius: 20px;
    width: 60%;
    max-width: 400;
    min-width: 200;
    opacity: 0;
    animation: picturesAnimation 2s 0.5s forwards;
}

.pictures2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #39314b;
    border-radius: 20px;
    width: 60%;
    max-width: 400;
    min-width: 200;
    opacity: 0;
    animation: picturesAnimation 2s 1s forwards;
}

.pictures3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #39314b;
    border-radius: 20px;
    width: 60%;
    max-width: 400;
    min-width: 200;
    opacity: 0;
    animation: picturesAnimation 2s 1.5s forwards;
}

.companyLogo {
    width: 80px;
    border-radius: 40px;
}