.top {
    background-color: #eea160;
    box-shadow: 0px 10px 10px #39314b;
}

body {
    background-color: #564064;
    height: 100%;
    margin: 0%;
    display:flex; 
    flex-direction:column; 
}

footer {
    background-color: #eea160;
    margin-top: auto;
    box-shadow: 0px -10px 10px #39314b;
}

table, th, td {
    /*border: 1px solid black;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:link, a:visited {
    color: #ffffff;
	text-decoration: none;
    text-shadow: 2px 2px 2px #795130;
    font-weight: bold;
}
a:hover {
    color: #8e478c;
	text-decoration: none;
    text-shadow: 1px 1px 2px #795130;
    font-weight: bold;
}
a:active {
    color: #39314b;
	text-decoration: none;
    font-weight: bold;
}

@keyframes logoAnimation {
    from {
        width: 200px;
        transform: rotate(540deg);
    }
    to {
        width: 90%;
        transform: rotate(0deg);
    }
}

@keyframes picturesAnimation {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes continuousAnimation {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(2deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}

.mineralMadnessLogo {
    all: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    animation: logoAnimation 1.5s ease-out;
}

.logoContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    animation: continuousAnimation 2s linear 1.49s infinite;
}

.trailer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #39314b;
    border-radius: 20px;
    width: 80%;
    max-width: 500;  
    opacity: 0;
    aspect-ratio: 16/9;
    animation: picturesAnimation 2s 0.5s forwards;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #39314b;
    border-radius: 20px;
    width: 80%;
    max-width: 500;
    opacity: 0;
}

.headshots {
    all:unset;
    width: 200px;
    border-radius: 100px;
}

.pictures1 {
    animation: picturesAnimation 2s 1s forwards;
}

.pictures2 {
    animation: picturesAnimation 2s 1.5s forwards;
}

.pictures3 {
    animation: picturesAnimation 2s 2s forwards;
}

.companyLogo {
    all: unset;
    width: 80px;
    border-radius: 40px;
    box-shadow: 3px 3px 3px #795130;
}

.companyLogoTop {
    all: unset;
    width: 100px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px #795130;
}

.topCol {
    font-size: xx-large;
}

.footerSide {
    width: 30px;
}

.headshotRow {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headshotCol {
    float:left;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
	text-decoration: none;
    text-shadow: 2px 2px 2px #39314b;
}

@media only screen and (min-width: 768px) {
    .topCol {width: 240px;}
    .topSide {all: unset;}
    .footerCol {width: 200px;}
    .footerSide {all: unset;}
}