@font-face { font-family: Lucky; src: url('luckiest-guy.regular.ttf'); }
@font-face { font-family: Lilita; src: url('LilitaOne-Regular.ttf'); }

.top {
    background-color: #e28d48;
    box-shadow: 0px 10px 10px #382033;
}

body {
    background-color: #45293f;
    height: 100%;
    margin: 0%;
    display:flex; 
    flex-direction:column;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #6b3e75;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #382033;
    width: 80%;
    opacity: 0;
    animation: fadeInAnimation 2s 0.5s forwards;
    max-width: 1200px;
}

.text {
    padding: 20px;
    max-width: 42%;
    animation: fadeInAnimation 2s 0.5s forwards;
    font-family: Helvetica, sans-serif, sans-serif;
    font-size: x-large;
    color: #ffffff;
    text-shadow: 1px 1px 2px #4c2c53;
}

h2 {
    margin-top: 10px;
    font-family: Lilita, sans-serif;
    font-weight: normal;
}

h3 {
    font-weight: normal;
    margin-top: 10px;
    font-family: Lilita, sans-serif;
}

footer {
    background-color: #e28d48;
    margin-top: auto;
    box-shadow: 0px -10px 10px #382033;
}

table, th, td {
    /*border: 1px solid black;*/
    text-align: center;
    font-family: Lilita, sans-serif;
    font-size: large;
    padding-top: 8px;
    padding-bottom: 8px;
}

a:link, a:visited {
    color: #ffffff;
	text-decoration: none;
    text-shadow: 2px 2px 2px #795130;
}
a:hover {
    color: #6b3e75;
	text-decoration: none;
    text-shadow: 1px 1px 2px #795130;
}
a:active {
    color: #46284d;
	text-decoration: none;
}

@keyframes fadeInAnimation {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes continuousAnimation {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(2deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-2deg);}
    100% {transform: rotate(0deg);}
}

.mineralMadnessLogo {
    all: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0;
    animation: fadeInAnimation 2s 0s forwards;
}

.logoContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 700px;
    animation: continuousAnimation 2s linear 0s infinite;
}

.trailer {
    float: left;
    border-radius: 10px;
    width: 50%;
    max-width: 600;  
    opacity: 0;
    aspect-ratio: 16/9;
    animation: fadeInAnimation 2s 0.5s forwards;
}

img {
    float: left;
    border-radius: 10px;
    width: 50%;
    max-width: 600;
    opacity: 0;
    animation: fadeInAnimation 2s 0.75s forwards;
}

.headshots {
    all:unset;
    width: 200px;
    border-radius: 100px;
    animation: fadeInAnimation 2s;
}

.companyLogo {
    all: unset;
    width: 80px;
    border-radius: 40px;
    box-shadow: 3px 3px 3px #795130;
}

.companyLogoTop {
    all: unset;
    width: 100px;
    border-radius: 50px;
    box-shadow: 3px 3px 3px #795130;
}

.topCol {
    font-size: xx-large;
}

.footerSide {
    width: 30px;
}

.headshotRow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.headshotCol {
    display: inline-block;
    padding: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: #dddddd;
	text-decoration: none;
    font-size: large;
    text-shadow: 2px 2px 2px #39314b;
    animation: fadeInAnimation 1.5s;
}

.socialMedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-family: Lilita, sans-serif;
    font-size: xx-large;
}

a.socialMediaPage:link, a.socialMediaPage:visited  {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 4px 4px 4px #39314b;
}
a.socialMediaPage:hover {
    color: #e28d48;
    text-decoration: none;
    text-shadow: 2px 2px 4px #39314b;
}
a.socialMediaPage:active {
    color: #8d5425;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .topCol {width: 240px;}
    .topSide {all: unset;}
    .footerCol {width: 200px;}
    .footerSide {all: unset;}
}

@media only screen and (max-width: 768px) {
    img {
        max-width: unset;
        width: 100%;
    }

    .trailer {
        max-width: unset;
        width: 100%;
    }

    .text {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1080px) {
    .text {
        font-size: large;
    }
}
